# Django e REST
Django==5.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.1
django-filter==25.2
asgiref==3.10.0
dj-database-url==3.0.1
psycopg2-binary==2.9.9
python-decouple==3.8
python-dotenv==0.21.1
PyJWT==2.3.0
gunicorn==21.2.0
# Segurança e criptografia
bcrypt==3.2.0
cryptography==3.4.8

# Requisições HTTP
requests==2.25.1
urllib3==1.26.5
idna==3.3
certifi==2024.2.2

# Análise de dados e ciência de dados
numpy==1.23.5
pandas==1.5.2
scipy==1.10.1
scikit-learn==1.3.1
matplotlib==3.6.2
seaborn==0.12.2
plotly==5.17.0
Pillow==10.1.0

# Utilitários
click==8.1.7
python-dateutil==2.9.0.post0
pytz==2022.1
packaging==23.0
pyparsing==2.4.7

# Selenium (se houver testes automatizados com navegador)
selenium==4.20.0